---
layout: page
title: Pueblos originarios
permalink: /argentina-manuscrita-pueblos-originarios/
type: extras
description: Mapa y lista de pueblos originarios mencionados en el texto
---

<p>En este mapa se pueden visualizar algunos de los pueblos originarios mencionados en La Argentina Manuscrita de Ruy Díaz de Guzmán. Haga click sobre los marcadores para ver el nombre y una breve descripción de cada pueblo.</p>

<p>Para más información sobre los pueblos originarios que aparecen en el texto, consulte la grilla que figura debajo del mapa.</p>
  
<div id="map" class="map leaflet-container mb-3" style="height: 500px; position:relative;"></div>

<script>
  // create the map object and set the cooridnates of the initial view:
  var map = L.map('map').setView([-30.5811123, -58.4287612], 5);

  // create the tile layer with correct attribution:
  L.tileLayer('http://{s}.tiles.mapbox.com/v3/jamesg87.goac2bf1/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18
  }).addTo(map);

  var marker = L.marker([-30.99, -51.49]).addTo(map);
  marker.bindPopup("<b>Arachanes</b><br>Otro nombre que se le daba a los guaraníes en las costas del sur de Brasil.");

  var marker = L.marker([-25.28, -57.66]).addTo(map);
  marker.bindPopup("<b>Agases, Agaces o Agases</b><br>Pertenecían al tronco lingüístico mataco-guaycurú y eran muy hábiles canoeros y pescadores. Solían tener conflictos con los guaraníes carios que vivían río arriba.");

  var marker = L.marker([-25.22, -57.56]).addTo(map);
  marker.bindPopup("<b>Carios</b><br>Parcialidad guaraní en las proximidades de la ciudad de Asunción. Es frecuente que se utilice su nombre para denominar a todos los guaraníes.");

  var marker = L.marker([-34.07, -55.69]).addTo(map);
  marker.bindPopup("<b>Charrúas</b><br>Tribu feroz e indómita, en continua guerra con los Arachanes. Fueron perseguidos y exterminados por el General don Fructuoso Rivera en 1831.");

  var marker = L.marker([-27.79, -64.27]).addTo(map);
  marker.bindPopup("<b>Tonocotes</b><br>Tonocotes y juríes constituirían la misma etnia, nativa de la región centro-norte de Argentina. Los Tonocotés habitaban en lo que hoy es territorio de la provincia de Santiago del Estero y constituían jefaturas con características próximas a las del área andina.");

  var marker = L.marker([-22.80, -43.16]).addTo(map);
  marker.bindPopup("<b>Tupís, Tupíes o Tupinambás</b><br>Parcialidad perteneciente al tronco lingüístico Tupí-Guaraní y que tenía uno de sus principales asentamientos en la Bahía de Guanabara.");

</script>
<br>

<h2>Otros pueblos mencionados en el texto</h2>

  <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
    {% for personaje in site.pueblos_originarios %}
      {% include card.html %}
    {% endfor %}
  </div>

  {% for personaje in site.pueblos_originarios %}
    {% include modal.html %}
  {% endfor %}
