---
layout: page
title: Pueblos originarios grilla
permalink: /argentina-manuscrita-pueblos-originarios-grilla/
type: extras
description: Mapa y lista de pueblos originarios mencionados en el texto
---

<p>En este mapa se pueden visualizar algunos de los pueblos originarios mencionados en La Argentina Manuscrita de Ruy Díaz de Guzmán. Haga click sobre los marcadores para ver el nombre y una breve descripción de cada pueblo.</p>

<p>Para ver la lista completa de los pueblos orignarios que aparecen en el texto, consulte la grilla que figura debajo del mapa.</p>
  


  <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
    {% for personaje in site.pueblos_originarios %}
      {% include card.html %}
    {% endfor %}
  </div>

  {% for personaje in site.pueblos_originarios %}
    {% include modal.html %}
  {% endfor %}
